# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environment
.venv/
venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Env / secrets
.env

# Editors/OS
.vscode/
.idea/
*.swp
.DS_Store

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Personal, unrelated to project
/.gitconfig
