{% load static %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kava-varasto</title>
    <link rel="stylesheet" href="{% static 'frontend/main.css' %}" />
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.SCRIPT_NAME = "{{ script_name|escapejs }}";
    </script>
    <script type="module" src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
