{% load vite %}<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kava-varasto</title>
    {% vite_css "index.html" as css_files %}
    {% for href in css_files %}
    <link rel="stylesheet" href="{{ href }}" />
    {% endfor %}
  </head>
  <body>
    <div id="root"></div>
    <script>
      window.SCRIPT_NAME = "{{ script_name|escapejs }}";
    </script>
    <script type="module" src="{% vite_asset 'index.html' %}"></script>
  </body>
</html>
